<!DOCTYPE html>
<html>
  <head>
    <title>Letter from Hogwarts!</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body>
    <h1>Wizarding World of AspNetCore</h1>
    <form action="/output" method="post">
     <p>Once there was a young <input id="noun" name="noun" type="text" placeholder="noun"> named <input id="name" name="name" type="text" placeholder="name">.
     <input id="pronoun" name="pronoun" type="text" placeholder="pronoun"> was a wizard! 🧙‍♂️</p>
      One day, an owl came with a letter for <input id="name" name="name" type="text" placeholder="name">.</p>
     <p>It said, "Please come to Hogwarts and learn magic. You will need a robe and a, <input id="itemchoice" name="itemchoice" type="text" placeholder="wand/any item">,
     and you may bring one pet. Your ticket for the Hogwarts Express is enclosed."</p>
     <p><input id="name" name="name" type="text" placeholder="name"> went to Diagon Alley and bought a <input id="color" name="color" type="text" placeholder="color"> 
     <input id="animal" name="animal" type="text" placeholder="animal">. <input id="pronoun" name="pronoun" type="text" placeholder="pronoun"> name it <input id="animalname" name="animalname" type="text" placeholder="pet's name"> 🦂.</p>
     <p>Then it was time to go to Hogwarts. On the Hogwarts Express, <input id="name" name="name" type="text" placeholder="name"> got some wizard candy. There were chocolate frogs and pumpkin pasteries, 
     and even Bertie Bott's every flavor beans. The best flavor was <input id="flavor" name="flavor" type="text" placeholder="flavor">. Yum! 🍭</p>
     <p>At Hogwarts the Sorting Hat put <input id="name" name="name" type="text" placeholder="name"> in <input id="housename" name="housename" type="text" placeholder="Gryffindor/Ravenclaw/Hufflepuff/Slytherin">.
      Then it was time to learn some magic!</p> 
    <p>The teachers taught everyone how to turn rats into teacups, make things float in the air, and take care of magical animals. 🕷</p>
    <p><input id="name" name="name" type="text" placeholder="name">'s favorite class was <input id="classname" name="classname" type="text" placeholder="class name">
     because <input id="whybestclass" name="whybestclass" type="text" placeholder="why is it the best class?">.</p>
     <p><input id="name" name="name" type="text" placeholder="name"> and <input id="animalname" name="animalname" type="text" placeholder="pet's name"> love being at Howarts!</p>

     <button type="submit">Go to output!</button>
    </form>
  </body>
</html>